@tailwind base;
@tailwind components;
@tailwind utilities;

.buttonTransition,
.buttonTransition * {
  transition: 0.3s background, 0.3s transform 0.05s;
}

.mask {
  background-image: url(/mask.webp);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  padding-bottom: 5px;
}
